In [1]:
import pandas as pd #for dealing with csv import
import os # for joining paths and filenames sensibly
import numpy as np #for the population std
import glob # for finding csv data Ã‡files

In [2]:
os.getcwd()

'C:\\Users\\david\\Documents\\GitHub\\OpenBrains\\Diana_analysis'

In [5]:
filepath = 'C:\\Users\\david\\Documents\\Open Brains\\Balanced Brains\\diana_results\\test_feedback_fake.xlsx'

In [6]:
xl = pd.ExcelFile(filepath)

In [9]:
sheet_names = xl.sheet_names

In [10]:
df_gx = pd.read_excel(filepath, sheet_name=sheet_names[0])

In [11]:
df_gx

    Grupo 1 Unnamed: 1 Unnamed: 2
0   Ronda 1    Ronda 2    Ronda 3
1       0.0       80.0       80.0
2      60.0       60.0      100.0
3      10.0       80.0       60.0
4       0.0       60.0       80.0
5      80.0        0.0       80.0
6      80.0       10.0       80.0
7       0.0       80.0       80.0
8      10.0        0.0       80.0
9      60.0        0.0       80.0
10      0.0        0.0       60.0
11      NaN       60.0        NaN
12      NaN       80.0        NaN

In [ ]:
beh_path =  'C:\\Users\\David\\Desktop\\KI_Desktop\\data_reconstructions\\IEM\\trainT_testT_behaviour_permissive.xlsx' 
xl = pd.ExcelFile(beh_path)
sheet_names = xl.sheet_names
print('Behavior')
print(len(sheet_names))
beh_x = pd.read_excel(beh_path, sheet_name=sheet_names[10])
print(np.shape(beh_x))

In [2]:
import pandas as pd #for dealing with csv import
import matplotlib.pyplot as plt  # Matplotlib's pyplot: MATLAB-like syntax
import scipy
from scipy import stats
import seaborn as sns